body { 
    margin: 0;
    font-family: Roboto, sans-serif;
}

.wrapper {
    max-width: 1000px;
    margin: auto;
}

.topbar {
    margin: 20px 0;
    background-color: white;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    padding: 8px 32px; 
} 

.main-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

.sidebar {
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    min-height: calc(100vh - 140px);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.sidebar button {
    background-color: #E5E5E5;
    padding: 10px 20px;
    font-size: 1rem; 
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    cursor: pointer; 
    margin: 20px 16px 14px 16px;
}

.collection-card {
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    padding: 20px;
    margin: 6px 16px;
    cursor: pointer;
}

.main-content {
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    min-height: calc(100vh - 140px);
    margin-bottom: 20px;
}

.notification {
    text-align: center;
    margin-top: 30px;
}

.collection-form {
    display: flex; 
    flex-direction: column; 
    margin: 24px;
  }
  
.collection-form input,
.collection-form button {
  padding: 10px 20px; 
  margin-bottom: 10px; 
  border: 1px solid #E5E5E5; 
  border-radius: 5px;
  font-size: 1rem; 
}

.item-input-container {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
}

.item-input {
    flex-grow: 1;
    margin-right: 10px; 
}

.collection-form button {
    cursor: pointer;
}

.save-delete-buttons {
    display: flex;
    gap: 10px; 
}
.save-delete-buttons button {
    width: 50%;
}

.collection-view {
    margin: 24px;
}

.collection-view h1 {
    margin: 0;
}

.item { 
    display: flex;
    align-items: center;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    margin-top: 8px;
}

  .collection-view .item img {
    width: 180px;
    height: 100px; 
    object-fit: cover;
    border-radius: 5px;
    margin: 16px;
  }

  .item-title {
    font-weight: bold;
    font-size: 18px;
    margin: 0;
  }
  
  .item-source {
    font-size: 0.9rem;
    margin: 4px 0;
  }

  .item-url {
    font-weight: bold;
    font-size: 18px;
    margin: 24px 16px;
  }

.collection-view button {
    background-color: #E5E5E5;
    padding: 10px 20px;
    width: 50%;
    font-size: 1rem; 
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    cursor: pointer; 
    margin-top: 16px;
}